@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  body{
    background-color: #594545;
    user-select: none;
  }
  h1{
    color: #FFF8EA;
    text-align: center;
    font-size: 48px;
    margin: 50px;
    padding: 8px;
    
  }
  i{
    height: 40px;
    width: 40px;
    font-size: 40px !important; 
    cursor: pointer;
  }
  .search{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
    ;
  }
  .search input{
    height: 48px;
    width: 256px;
    font-size: 24px;
    padding: 8px;
    color: #FFF8EA;
    background-color:#815B5B ;
    outline: none;
    border: none;
    border:3px solid #9E7676;
    border-radius: 10px;
  }
  input::placeholder{
    color: #9E7676;
  }
  input:focus{
    border-color: #F8EDE3;
  }

  select{
    height: 30px;
    width: 200px;
    text-align: center;
    font-size: 18px;
    outline: none;
    color: #F8EDE3;
    background-color: #9E7676;
    border: none;
    cursor: pointer;
  }
  option{
    background-color: #594545;
  }
  .search i{
    color: #F8EDE3;
    opacity: .85;
  }


  h2{
    color: #FFF8EA;
    font-size: 36px;
    text-align: center;
    text-decoration:underline 3px;
  }

  .stock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .stock-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 50px;
    border: 2px solid;
    padding: 2px;
    background-color: #472D2D;
    margin: 6px;
  }

  h3{
    margin: 0 12px;
    font-size: 28px;
    color: #F8EDE3;
  }
  .stock-box p{
    color: #A77979;
    font-size: 24px;
  }

  .current-price{
    height: 30px;
    padding: 4px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    color: #F8EDE3;
    font-weight: 800;
  }

.stock-data{
  display: none;
}

table{
  border-collapse:collapse ;
}

td{
  padding: 12px;
  color: #FFF8EA;
  font-size: 18px;
}
th{
  padding: 12px 18px;
  background-color: #9E7676;
  font-size: 18px;
}


tbody td:first-child{
  color: #D0B8A8;
  font-weight: 900;
}





/* extra style class */
.show{
  display: block;
}
.profit{
  background-color: green;
}
.loss{
  background-color: red;
}
body::-webkit-scrollbar{
  display: none;
}